<!DOCTYPE html>
<html>
<head>
    <meta charset="ISO-8859-1">
    <title>Spring Bot - an Activity Pub bot using the Spring Boot framework</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <h1>Spring Bot</h1>

    <div class="row">
        <div class="col-sm-2">
            <a href="/">HOME</a><br>
            <a href="/viewbot">Bot List</a><br>
            <a href="/makebot">New Bot</a>
        </div>
        <div class="col-sm-8">
            <h2>Hello! Welcome to SpringBot!</h2>
            <h3>An Activity Pub 'bot' implementation using Spring Boot</h3>
        </div>
        <div class="col-sm-2"></div>
    </div> 
</div>
</body>
</html>
