<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>List Bot</title>
    .main {
        text-align: center;
    }
</style>
</head>
<body>
<div class="main">
    <h2>Pick-a-Bot!</h2>
    <th:block th:if="${bots.empty}">
        <h3>No Bots!</h3>
    </th:block>
    <th:block th:each="bot : ${bots}">
        <a th:href="@{/viewbot/} + ${bot.username}">[[${@botService.getHandle(bot)}]]</a><br>
    </th:block>
    <br>
    <br>
    <a href="/">HOME</a>
</div>
</body>
</html>
