<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Bot</title>
<style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
        margin-bottom: 0.5em;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Bot:</h2>
    <span>Username:</span><span th:text="${bot.username}"></span><br/>
    <span>Id:</span><span th:text="'@' + ${bot.username} + '@springbot.seth.id.au'"></span><br/>
    <span>Display Name:</span><span th:text="${bot.name}"></span><br/>
    <span>Description:</span><span th:text="${bot.summary}"></span><br/>
    <span>Published:</span><span th:text="${bot.published}"></span><br/>
    <span>Type:</span><span th:text="${bot.type}"></span><br/>
    <span>Public Key:</span><pre th:text="${bot.getPublicKeyPEMString()}"></pre><br/>
    <br>
    <a href="/">HOME</a> |
    <a href="/viewbot">Bot List</a>
</div>
</body>
</html>
